*{
      margin: 1;
      padding: 2;
      box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
    margin: 0 -10px;
  }

  .header1{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
      margin-right: 850px;
  }


  .header2{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header3{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header4{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }


  .navbar{
      font-family: Europa-regular;
      font-size: 20px;
      width: 100%;
      color: #3B4B61;
      margin-left: -100;
      float: right;
      margin-top: 7.5px;
  }

  .navbar a:hover {
      color: #FAFAFA;
  }

  .navbar a
  {
      float: right;
      padding: 52px 52px 52px 52px;
      padding-top: -100px;
      margin-top: -110px;
      color: #3B4B61;
      text-decoration: none;
  }


  .topmenubox{
      color: #c3c8af;
      border: solid;
      background-color: #c3c8af;
      height: 100px;
      width: 100%;
      margin: auto;
      padding: 18px;
      margin-top: -100px;
  }

  #portraet{
      float: left;
      width: 50px;
      height: 10px;
      padding: 10px;
      margin-top: -18px;
      margin-left: 700px;
  }



   .jegerxenia{
     margin: 55px;
     width: 55%;
     height: 55%;
   }


   .baggrundskasse{
     height: 325px;
     width:100%;
     background-color: #E8EAE1;
     margin-top: -75px;

   }


   .kasse img{
     width: 220px;
     height: 220px;
     margin: 91px 91px 91px;
     border: 3px solid #3B4B61;
     margin-bottom: 100px;
   }


   .kasse {
     position: center;
   }


   .minekompetencer{
     font-size: 25px;
     font-family: Europa-bold;
     color: #3B4B61;
     text-align: center;
     margin-top: 530px;
   }


   .portfoliobaggrundskasse{
     height: 1200px;
     width: auto;
     background-color: #E8EAE1;
   }


   .tekstkasseommig{
    background-color: #FAFAFA;
    width: auto 100px;
    height: 500px;
    margin-left: 800px;
    margin-top: 50px;
   }


   .kassebeskrivelseportfolio{
     text-align: center;
     background: #E8EAE1;
     font-family: Europa-light;
     text-decoration-color: #3B4B61;
     width: 700px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     line-height: 1.2;

    }




    /* PROCESPORTFOLIO START*/
    .title {
      height: 100%;
    }

    .projekter {
      margin-top: 1px;
      position: relative;
      width: 400px;
      height: 400px;
      display: inline-block;
    }

    .image {
      display: block;
      width: 400px;
      height: 400px;
    }

    .overlay {
      position: absolute;
      transition: all .3s ease;
      opacity: 0;
      background-color: #eee;
    }

    .projekter:hover .overlay{
      opacity: 1;
    }

    .text {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      font-family: Europa-bold;
      }

    .projekter:hover .overlayFade{
      width: 100%;
      }

    .overlayFade {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c3c8afbf;
    }

    .footer{
        color: #3B4B61;
        font-family: Europa-regular;
        font-size: 15px;
        background-color: #c3c8af;
        height: 60px;
        width: 100%;
        padding: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
     }


     .footer div{
         display:inline-flex;
         padding: 0 25px;
    }

    .fsa {
        text-align: center;
        font-size: 25px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 75%;
        }

        .fa {
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0 auto;
            text-align: center;
            font-size: 25px;
            width: 40px;
            height: 40px;
            text-decoration: none;
            border-radius: 75%;
            }


      .socialbuttons  a{
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .fa:hover {
        opacity: 0.5;
      }


      .fa-facebook {
        background: #4065B4;
        color: white;

      }


      .fa-linkedin {
        background: #1073B5;
        color: white;
        margin: 0 10px;
      }

      .fa-instagram {
        background: #D185B5;
        color: white;
      }
