*{
      margin: 1;
      padding: 2;
      box-sizing: border-box;
  }

  body{
      background-color: #FAFAFA;
      margin: 0 -10px;
  }

  .header1{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
      margin-right: 850px;
  }


  .collage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-bottom: 4rem;
  }


  .header3{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header5{
      font-family: Europa-bold;
      font-size: 20px;
      text-align: center;
      color: #3B4B61;
  }

  .tekstommig{
      font-family: Europa-light;
      font-size: 20px;
      text-align: center;
      color: #3B4B61;
  }

  .navbar{
      font-family: Europa-regular;
      font-size: 20px;
      width: 100%;
      color: #3B4B61;
      margin-left: -100;
      float: right;
      margin-top: 7.5px;
  }

  .navbar a:hover {
      color: #FAFAFA;
  }

  .navbar a {
      float: right;
      padding: 52px 52px 52px 52px;
      padding-top: -100px;
      margin-top: -110px;
      color: #3B4B61;
      text-decoration: none;
  }


  .topmenubox{
      color: #c3c8af;
      border: solid;
      background-color: #c3c8af;
      height: 100px;
      width: 100%;
      margin: auto;
      padding: 18px;
      margin-top: -100px;
  }


  .kakao{
      width: 25vw;
      height: 50%;

  }


  .solbriller{
      width: 25vw;
      height: 75%;
  }


  .solbrillermedrens{
      width: 25vw;
      height: 50%;
  }



    .footer{
        color: #3B4B61;
        font-family: Europa-regular;
        font-size: 15px;
        background-color: #c3c8af;
        height: 100%;
        width: 100%;
        padding: 1%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 150px;
        margin: 0;


        /* align-items justify-content */
     }


    .footer div{
        display:inline-flex;
        padding: 0 40px;

    }

    /* Style all font awesome icons */
    .fsa {
        text-align: center;
        font-size: 25px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 75%;
        }

        .fa {
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0 auto;
            text-align: center;
            font-size: 25px;
            width: 40px;
            height: 40px;
            text-decoration: none;
            border-radius: 75%;
            }


      .socialbuttons  a{
        display: flex;
        justify-content: center;
        align-items: center;
      }


      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.5;
      }


      .fa-facebook {
        background: #4065B4;
        color: white;

      }


      .fa-linkedin {
        background: #1073B5;
        color: white;
        margin: 0 10px;
      }

      .fa-instagram {
        background: #D185B5;
        color: white;
      }
