*{
      margin: 1;
      padding: 2;
      box-sizing: border-box;
  }

  body{
      background-color: #FAFAFA;
      margin: 0 -10px;
  }

  .header1{
      font-family: arial;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
      margin-right: 850px;
  }

  .header2{
      font-family: arial;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header3{
      font-family: arial;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header4{
      font-family: arial;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }

  .header5 {
      font-family: arial;
      font-size: 90px;
      color: #3B4B61;
      line-height: 1.5;
      position: center;
      margin-left: 125px;
      margin-top: -600px;
  }

  .header6 {
    font-family: arial;
    font-size: 45px;
    color: #3B4B61;
    margin-left: 125px;
    margin-top: -125px;

  }

  .navbar{
      font-family: arial;
      font-size: 20px;
      width: 100%;
      color: #3B4B61;
      margin-left: -100;
      float: right;
      margin-top: 7.5px;
  }

  .navbar a:hover {
      color: #FAFAFA;
  }

  .navbar a {
      float: right;
      padding: 52px 52px 52px 52px;
      padding-top: -100px;
      margin-top: -110px;
      color: #3B4B61;
      text-decoration: none;
  }


  .topmenubox{
      color: #c3c8af;
      border: solid;
      background-color: #c3c8af;
      height: 100px;
      width: 100%;
      margin: auto;
      padding: 18px;
      margin-top: -100px;
  }

  .portraet{
      width: 60%;
      height: 60%;
      margin-top: 25px;
      margin-left: 350px;
  }


   .minekompetencer{
     font-size: 50px;
     font-family: arial;
     color: #3B4B61;
     text-align: center;
     margin-top: 400px;

   }


    .tekstportfoliobeskrivelse{
     font-size: 20px;
     font-family: arial;
     margin-left: 500px;
    }


    /* MINE kompetencer*/
    .title {
      height: 50%;
    }


    .projekter {
      position: relative;
      width: 350px;
      height: 275px;
      display: inline-block;
      font-family: arial;
    }

    .image {
      display: block;
      width: 150px;
      height: 150px;
    }

    .overlay {
      position: absolute;
      transition: all .3s ease;
      opacity: 0;
      background-color: #eee;
    }

    .projekter:hover .overlay{
      opacity: 1;
    }

    .text {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      }

    .projekter:hover .overlayFade{
      width: 100%;
      }


    .overlayFade {
          width: 50%;
          height: 65%;
          top: 0;
          left: 0;
          background-color: #E8EAE1;
          align-items: center;
          margin:auto;


          }


    .footer{
        color: #3B4B61;
        font-family: arial;
        font-size: 15px;
        background-color: #c3c8af;
        height: 60px;
        width: 100%;
        padding: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 150px;
        margin: 0px;


        /* align-items justify-content */
     }


    .footer div{
        display:inline-flex;
        padding: 0 25px;

    }

    /* Style all font awesome icons */
    .fsa {
        text-align: center;
        font-size: 25px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 75%;
        }

        .fa {
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0 auto;
            text-align: center;
            font-size: 25px;
            width: 40px;
            height: 40px;
            text-decoration: none;
            border-radius: 75%;
            }


      .socialbuttons  a{
        display: flex;
        justify-content: center;
        align-items: center;
      }


      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.5;
      }


      .fa-facebook {
        background: #4065B4;
        color: white;

      }


      .fa-linkedin {
        background: #1073B5;
        color: white;
        margin: 0 10px;
      }

      .fa-instagram {
        background: #D185B5;
        color: white;
      }
