*{
      margin: 1;
      padding: 2;
      box-sizing: border-box;
}

body{
      background-color: #FAFAFA;
}

  .header1{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
      margin-right: 850px;
  }

  .navbar{
      font-family: Europa-regular;
      font-size: 20px;
      width: 100%;
      color: #3B4B61;
      margin-left: -100;
      float: right;
  }

  .navbar a:hover {
      color: #FAFAFA;
  }

  .navbar a
  {
      float: right;
      padding: 52px 52px 52px 52px;
      padding-top: -100px;
      margin-top: -110px;
      color: #3B4B61;
      text-decoration: none;
  }


  .topmenubox{
      color: #c3c8af;
      border: solid;
      background-color: #c3c8af;
      height: 100px;
      width: 100%;
      margin: auto;
      padding: 18px;
      margin-top: -100px;
  }

  #portraet{
      float: left;
      width: 50%;
      height: 10%;
      padding: 10px;
      margin-top: -18px;
      margin-left: 700px;
  }

  .footer{
      color: #3B4B61;
      font-family: Europa-regular;
      font-size: 20px;
      background-color: #c3c8af;
      height: 60px;
      width: 100%;
      padding: 8px;
      display: inline-block;
   }


   .jegerxenia{
     margin: 55px;
     width: 55%;
     height: 55%;
   }


   .baggrundskasse{
     height: 325px;
     width:auto;
     background-color: #E8EAE1;
     margin-top: 510px;
   }


   .kasse img{
     width: 175px;
     height: 175px;
     margin: 120px 120px 120px 120px;
     border: 3px solid #3B4B61;
   }


   .kasse {
     position: center;
   }


   .footer div{
     margin-left: 60px;
     margin-right: 100px;
     display:inline-block;
   }
