*{
      margin: 1;
      padding: 2;
      box-sizing: border-box;
}

  body{
      background-color: #FAFAFA;
      margin: 0 -10px;
    }

  .header1{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
      margin-right: 850px;
  }


  .header2{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }


  .header3{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }


  .header4{
      font-family: Europa-bold;
      font-size: 35px;
      text-align: center;
      color: #3B4B61;
  }


  .header5 {
      font-family: Europa-Bold;
      font-size: 50px;
      color: #3B4B61;
      line-height: 1.5;
      position: center;
      margin-left: 125px;
      margin-top: -450px;
      }



  .navbar{
      font-family: Europa-regular;
      font-size: 20px;
      width: 100%;
      color: #3B4B61;
      margin-left: -100;
      float: right;
      margin-top: 7.5px;
  }

  .navbar a:hover {
      color: #FAFAFA;
  }

  .navbar a
  {
      float: right;
      padding: 52px 52px 52px 52px;
      padding-top: -100px;
      margin-top: -110px;
      color: #3B4B61;
      text-decoration: none;
  }


  .topmenubox{
      color: #c3c8af;
      border: solid;
      background-color: #c3c8af;
      height: 100px;
      width: 100%;
      margin: auto;
      padding: 18px;
      margin-top: -100px;
  }

  .portraet{
      width: 60%;
      height: 60%;
      margin-top: 25px;
      margin-left: 350px;
  }



   .minekompetencer{
     font-size: 50px;
     font-family: Europa-bold;
     color: #3B4B61;
     text-align: center;
     margin-top: 350px;

   }


   .portfoliobaggrundskasse{
     height: 1200px;
     width: auto;
     background-color: #E8EAE1;
     margin-top: 150px;
   }


   .tekstkasseommig{
    background-color: #FAFAFA;
    width: auto 100px;
    height: 500px;
    margin-left: 800px;
    margin-top: 100px;
   }


   .kassebeskrivelseportfolio{
     width: 500px;
     height: 100px;
     margin-left: 375px;
     background-color: #FAFAFA;
     position: relative;
     margin-top: 50px;
     text-align: center;
     font-family: Europa-regular;
     background: red;

    }

    .tekstportfoliobeskrivelse{
     font-size: 20px;
     font-family: Europa-light;
     margin-left: 500px;
    }


    /* MINE kompetencer*/
    .title {
      height: 50%;
    }


    .projekter {
      position: relative;
      width: 350px;
      height: 275px;
      display: inline-block;
      font-family: Europa-Bold;
    }

    .image {
      display: block;
      width: 150px;
      height: 150px;
    }

    .overlay {
      position: absolute;
      transition: all .3s ease;
      opacity: 0;
      background-color: #eee;
    }

    .projekter:hover .overlay{
      opacity: 1;
    }

    .text {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      }

    .projekter:hover .overlayFade{
      width: 100%;
      }


    .overlayFade {
          width: 50%;
          height: 65%;
          top: 0;
          left: 0;
          background-color: #E8EAE1;
          align-items: center;
          margin:auto;
          

          }


    .footer{
        color: #3B4B61;
        font-family: Europa-regular;
        font-size: 15px;
        background-color: #c3c8af;
        height: 50px;
        width: 100%;
        padding: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid red;
        padding-top: 55px;

        /* align-items justify-content */
     }


    .footer div{
        display:inline-flex;
        margin: 100px 75px;
        margin-bottom: 150px;
    }


    /* Style all font awesome icons */
    .fsa {
        display: inline-flex;
        text-align: center;
        font-size: 25px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 75%;
        }

        .fa {
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0 auto;
            text-align: center;
            font-size: 25px;
            width: 40px;
            height: 40px;
            text-decoration: none;
            border-radius: 75%;
            }


      .socialbuttons  a{
        display:  inline-flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid green;

      }


      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.5;
      }


      .fa-facebook {
        background: #3B5998;
        color: white;
        margin: 0 5px;
      }

      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
        margin: 0 5px;

      }

      .fa-instagram {
        background: #55ACEE;
        color: white;
      }
